

name: My First Action

on: [push]  # Runs every time you push code

jobs:
  test:
    runs-on: ubuntu-latest  # Free computer (runner) to use
    
    steps:
      - name: prime-cache-55b60f3
        uses: actions/checkout@v4  # Grabs your repo files
