name: Cache Test
on: [push]
jobs:
  cache-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: prime-cache-55b60f3
      uses: actions/cache@v4
      with:
        key: cache-55b60f3
        path: ~/.npm
    - name: Echo cache result  
      run: echo "Cache result: ${{ steps.prime-cache-55b60f3.outputs.cache-hit }}"
